.elevator-stats
{
    font: 12px Consolas, Monaco, monospace;
    line-height: 10px;
    color: #999;
    width: 240px;
    height: 200px;
    padding: 20px;
    z-index: 1;
}

.elevator-stats div, .elevator-stats span {
    position: absolute;
    display: block;
    width: 240px;
    height: 10px;
}

.elevator-stats .elevator-data-value {
    text-align: right;
}

.level
{
    min-height: 93px;
    border-bottom: 1px solid black;
}

.level .liftButton
{
   cursor: pointer;
}


/*Source https://www.geeksforgeeks.org/how-to-get-circular-buttons-in-bootstrap-4/*/
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
/*-----------------------------------------------------------------------------------*/

.btn-circle:hover, .btn-circle:focus, .btn-circle:active, .btn-circle.active, .open>.dropdown-toggle.btn-circle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}